NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000/api
EMAIL_ADDRESS=support@questionbankpro.com
NEXTAUTH_URL=http://localhost:3000
EMAIL_USER=questionbankpro@gmail.com
EMAIL_PASS=fuebidbprxszjkdh
MONGODB_URI=mongodb://root:root@localhost:27017/questionbankpro?authSource=admin
NEXTAUTH_SECRET=masdfdddssgjdsf
NEXT_PUBLIC_API_REVALIDATE=3600